body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainColumns {
  background-color:rgb(5, 5, 59);
  color:white;
  height:100vh;
}
.App-header {
  background-color:white;
}

.titles {
  font-family:"Times New Roman", Times, serif;
  font-size:65px;
  transition:0.8s;
}

.titles:hover {
transition:1.0s;
}

.col-2:hover {
  background-color:white;
  transition:1.5s;
  color:rgb(5, 5, 59);
}

.titleColumn {
  /* height:25vh; */
}
.titleColumn:hover {
  background-color:white;
  color:rgb(5, 5, 59);
  transition:1.5s;
  
}

.columnHeader {
  font-family:"Times New Roman", Times, serif;
  font-size:65px;
  text-align:center;
}

.pictureRow {
  /* height:75vh; */
  /* background-color:white; */
  /* background-image:url'https://tobypeterson.surge.sh/Toby_Peterson.png' */
}

.headshot {
  height:450px;
  background-size: cover;
margin-top:50px;
}

.headshot:hover {
  opacity:0.5;
}